nav{
    width: 100%;
    background-color:darkred;
    color: white;
}
.menu nav ul li a{
    color: white;
    font-size: 16px;
    trnsition: all 300ms;
}
.menu nav ul li a:hover{
    color: white;
}
